body{
    margin: 0 ;
    width: 100%;  
}
.header{
    height: 54px;
    width: 100%;
}
.header_content{
    display: flex;
    margin: 0 auto;
    height: 34px;
    padding-top: 10px;
    width: 1200px;
    justify-content: space-between;
    
    
}

.header_name{
    color: rgba(68, 136, 153, 1);
    font-weight:  700;
    font-size: 30px;
    height: 34px;
    cursor: pointer;
}


.heade_frame{
    right: 175px;
    width: 175px;
    height: 34px;
    display: flex;
    
    align-content:center;
    /*
    border: 1px solid rgba(0, 0, 0, 1);*/

    
}

.heade_frame_book{
    width: 84px;
}

.heade_frame_log{
    width: 91px;
}
.first_hr{
    width: 100%; 
    border: 1px solid rgba(232, 232, 232, 1) ;
    margin-top: 0;
    box-sizing: border-box;
}
.login_dialog_background{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明的黑色背景 */
    z-index: 1000; 
    display: none;
}
.login_dialog{
    width: 340px;
    min-height: 275px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 60px rgba(170, 170, 170, 0.1);
    border-radius: 6px;
    margin: 80px auto;
    
    
    
}
.dialog_bar{
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.dialog_main{
    padding: 15px;
    position: relative;
    
}
.dialog_main_title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: rgba(102, 102, 102, 1);
}
.dialog_main_email{
    width: 310px;
    height: 47px;
    box-sizing: border-box;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 15px;
}
.dialog_main_email::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);

}
.dialog_main_password{
    width: 310px;
    height: 47px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 15px;
}
.dialog_main_password::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
}
.dialog_main_button{
    background-color: rgba(68, 136, 153, 1);
    width: 310px;
    height: 47px;
    margin-top: 10px;
    font-size: 19px;
    font-weight: 400;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.dialog_main_register{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}
.dialog_main_close{
    width: 16px;
    height: 16px;
    top: 22px;
    right: 22px;
    position: absolute;
    cursor: pointer;
    
}

.signup_button{
    cursor: pointer;
}
/*註冊畫面*/
.signup_dialog_background{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明的黑色背景 */
    z-index: 1000; 
    display: none;
}
.signup_dialog{
    width: 340px;
    min-height: 332px;
    background-color: aqua;
    border-radius: 6px;
    margin: 80px auto;
    
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 60px rgba(170, 170, 170, 0.1);
}
.dialog_main_name{
    width: 310px;
    height: 47px;
    box-sizing: border-box;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 15px;
}
.dialog_main_name::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
}
.signup_dialog_main_email{
    width: 310px;
    height: 47px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 1);
    padding: 15px;
}
.signup_dialog_main_email::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
}

.fail_signup{
    width: 310px;
    text-align: center;
    color: red;
    margin-top: 10px;
    
}
.login_button{
    cursor: pointer;
}
.headline{
    width: 1000px;
    margin: 0 auto;
    margin-top: 46px;
    font-size: 19px;
    font-weight: 700;
    color:rgba(102, 102, 102, 1);
}

/*booking*/
.booking_section{
    width: 980px;
    height: 200px;
    
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}
.booking_section_picture{
    width: 250px;
    height: 200px;
    overflow: hidden;
    
}
.booking_section_info{
    width:  700px;
    height:  170px;
  
    margin-left: 30px;
}
.booking_section_info_name{
    width: 700px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.booking_section_info_name_text{
    font-size: 16px;
    font-weight: 700;
    color:  rgba(68, 136, 153, 1);
}
.booking_section_info_date{
    margin-top: 25px;
}
.booking_section_info_date_title{
    font-size: 16px;
    font-weight: 700;
    color:  rgba(102, 102, 102, 1);
}
.booking_section_info_date_text{
    font-size: 16px;
    font-weight: 400;
    color:  rgba(102, 102, 102, 1);
}

.booking_section_info_frame{
    margin-top: 10px;
    
}
.booking_section_info_frame_title{
    font-size: 16px;
    font-weight: 700;
    color:  rgba(102, 102, 102, 1);
}
.booking_section_info_frame_text{
    font-size: 16px;
    font-weight: 400;
    color:  rgba(102, 102, 102, 1);
}
.second_hr{
    width: 1200px; 
    border: 1px solid rgba(232, 232, 232, 1) ;
    margin-top: 40px;
    box-sizing: border-box;
}
/*聯絡資訊*/
.booking_contact{
    width: 980px;
    height: 227px;
    margin: 40px auto;
    
}
.booking_contact_title{
    font-size: 19px;
    font-weight: 700;
    color: rgba(102, 102, 102, 1);
}
.booking_contact_name{
    font-size: 16px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}
.booking_contact_name_input{
    width: 200px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 5px;
    padding: 10px;
}
.booking_contact_notice{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(102, 102, 102, 1);
}
.booking_payment{
    width: 980px;
    height: 188px;
   
    margin: 40px auto;
}
.booking_payment_title{
    font-size: 19px;
    font-weight: 700;
    color: rgba(102, 102, 102, 1);
}
.booking_payment_name{
    font-size: 16px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}
.booking_payment_name_input{
    width: 200px;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 5px;
    padding: 10px;
}
.booking_payment_name_input::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: rgba(117, 117, 117, 1);
}
.booking_total{
    width: 980px;
    height: 100px;
   
    margin: 40px auto;
    text-align: right;
}
.booking_total_price{
    font-size: 16px;
    font-weight: 700;
    color:  rgba(102, 102, 102, 1);
}

.booking_total_button{
    background-color: rgba(68, 136, 153, 1);
    width: 173px;
    height: 36px;
    margin-top: 22px;
    font-size: 19px;
    font-weight: 400;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.footer{
    background-color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 700;
    height: 104px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    text-align: center; 
    line-height: 104px;
}
.booking_nodata{
    margin:40px auto;
    width: 1000px;
    color:  rgba(102, 102, 102, 1);
    display: none;
    font-size: 16px;
    font-weight: 400;
}
/*等待畫面*/
.loading {
    
    border: 25px solid #EAF0F6;
    border-radius: 50%;
    border-top: 25px solid rgba(68, 136, 153, 1);
    width: 100px;
    height: 100px;
    animation: load 2s linear infinite;
    margin: 150px auto;
    

    }
    
@keyframes load {
/*0% { transform: rotate(0deg); }*/
100% { transform: rotate(360deg); }
}
.loading_background{
    background-color:rgba(255, 255, 255, 0.623);
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    position: fixed;
    
}
@media(max-width:1200px){
    .header_content {
        width: 95%;
    }
    
    
    .second_hr{
        width: 95%;
    }
    
    .booking_section{
        width: 90%;
    }
    .headline{
        width: 90%
    }
    .booking_nodata{
        width: 90%
    }
    .booking_section {
        width: 90%;
    }
    .booking_section_picture {
        width: 30%;
    }
    .booking_section_info {
        width: 60%;
    }
    .booking_contact {
        width: 90%;
    }
    .booking_payment {
        width: 90%;
    }
    .booking_total {
        width: 90%;
    }
    .booking_section_info_name {
        width: 90%;
    }
}
@media(max-width:700px){
    .booking_section {
        width: 100%;
        height: 430px;
    }
    .booking_section_picture {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
    }
    .booking_section_info {
        width: 100%;
        height: 200px;
        margin-left: 10px;
        position: relative;
        margin-right: 10px;
    }
    .booking_section_info_name {
        width: 100%;
    }
    #deleteBooking{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .headline {
        
        margin-left: 10px;
    }
    .booking_nodata{
        margin-left: 10px;
    }
    .second_hr{
        margin-top: 30px;
    }
    .booking_contact{
        height: 256px;
        margin-left: 10px;
        
    }
    .booking_contact_notice{
        margin-top: 20px;
    }
    .booking_payment{
        margin-left: 10px;
    }
    .booking_total{
        margin-right: 10px;
    }
}
    
